<!DOCTYPE html>

<html>

<head>
  <title>Timestamp Microservice | Home</title>
  <link rel="shortcut icon" href="favicon-32x32.png" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="../static/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <h1>Timestamp Microservice</h1>
  <hr />

  <section class="container">
    <h2>Example Usage:</h2>
    <ul>
      <li><a href="api/2015-12-25">[project url]/api/2015-12-25</a></li>
      <li><a href="api/1451001600000">[project url]/api/1451001600000</a></li>
    </ul>

    <h2>Example Output:</h2>
    <p>
      <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
    </p>
  </section>

  <div class="footer">
    <p>
      By <a href="//https://s23010843.github.io/timestamp-microservice//">Timestamp Microservice</a>
    </p>
  </div>
</body>

</html>